*{
    padding: 0;
    margin: 0;
    box-sizing: 
}
body{
    background-color: black;
    font-family: Arial, sans-serif;
}

h1{
    text-align: center;
    color: white;
    margin-top:10px;

}

form{
    width: 300px;
    height: 320px;
    margin:auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    margin-top: 20px;

}

label{
    display: block;
    margin-top: 10px;
    color: black;
    text-align: left;
}

input{
    width: 280px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.btn{
    width:300px;
    height: 35px;
    background-color: black;
    color: white;
    margin-top: 10px;
    border: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover{
  background-color: grey;
}